body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}  
a:hover{
  color: #e31b6d! important;
}
#heading {
  /* background-color: #2d1950 ; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

}
.parOne {
  font-size: 50px;
  margin-left: 100px;
  color: #e31b6d;
  font-family: 'Raleway', sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 710px;
  background-color: #2d1950  ;
  background-position: 50% 50%;
  z-index: -1;
}
.container-fluid {
  background-color: #2d1950  ;
}
  
.count-particles {
  position: absolute;
  top: 48px;
    left: 0;
    width: 60px;
    font-size: .25em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 5.1em;
  }
  
  #stats{
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  } 

 #about {
  background-image: url(joe-woods-4Zaq5xY5M_c-unsplash.jpg);

 }
 .about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  flex-wrap: wrap;
  margin-top: 10px;

 
 }
 #skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  
 }
 .description {
  font-size: 20px;
  text-align: center;
 }

 h2 {
  text-align: center;
  text-decoration:underline;
  font-size: 35px;
  margin-top: 20px;
  color:#e31b6d;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;

 }
 .parTwo {
  border-bottom: 2px solid #e31b6d;
  border-top: 2px solid #e31b6d;
 }
 .backgroundOne {
  background-image: url(https://cdn.glitch.global/df165a3a-fbb7-4fe2-9c6a-b40204c19837/ferenc-almasi-yXrl2lkGJ-k-unsplash.jpg?v=1698720055503);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  background-attachment: fixed;
}

 #portfolio{
  margin: 0;
  background-image: url(https://cdn.glitch.global/df165a3a-fbb7-4fe2-9c6a-b40204c19837/joe-woods-4Zaq5xY5M_c-unsplash.jpg?v=1698720189297);
 }

#container-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(https://cdn.glitch.global/df165a3a-fbb7-4fe2-9c6a-b40204c19837/joe-woods-4Zaq5xY5M_c-unsplash.jpg?v=1698720189297);
  margin: 0;
  

}
.image-camera {
  border-radius: 10px;
  margin: 40px;
 border-style: groove;
} 
.project{
  float:center;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor: default;
  }
  
.project .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow: hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(9, 9, 77, 0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
  z-index: 1;
}
.project img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}
.project h4 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(7, 9, 78, 0.7);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
}
  
.project a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
  }
  
  .project a.info:hover {
  box-shadow:0 0 5px #fff; 
  }
  .project:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  }
  
  .project:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
  }
  
  .project:hover h4,.project:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
  }
  
  .project:hover a.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
  }

  /* Не могу поставить текст по центру , смещается */
  .banner {
   text-align: center;
    text-size-adjust: 40px;
    background: #ffffff;
    box-shadow: 0 15px #ffffff;
    width: 180px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: auto;
    display: block;
    color: #e31b6d;
    border-left: 100px solid  #2d1950;
    border-right: 100px solid #2d1950; 
    border-bottom: 20px solid transparent;
  }
  #container-3 {
    background-color: #2d1950;
  }
  .heading   {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lng-contPar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
    color: #434242;

  }
  .input-text{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color: #e8e3ee;
    border: none;
    margin: 5px;
  }
   
  .btn{
    padding: 10px;
    background-color: #2d1950;
    color: #e8e3ee;
    border: none;
    width: 12%;
    font-family: 'Raleway', sans-serif;
  }
.extra-arrow-container {
  display: flex;
  justify-content: center;
  
}
.arrow-container {
	position: relative;
	width: 50px;
	height: 50px;
  cursor: pointer;  
}

@-webkit-keyframes move {
	15% {
		transform: translateY(2px);
	}
	30% {
		transform: translateY(-2px);
	}
	45% {
		transform: translateY(2px);
	}
	60% {
		transform: translateY(-2px);
	}
	75% {
		transform: translateY(2px);
	}
	90% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes move {
	15% {
		transform: translateY(2px);
	}
	30% {
		transform: translateY(-2px);
	}
	45% {
		transform: translateY(2px);
	}
	60% {
		transform: translateY(-2px);
	}
	75% {
		transform: translateY(2px);
	}
	90% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0px);
	}
}

.arrow-circle {
  
	background-color: #2d1950;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	padding: 20px;
	position: absolute;
	display: block;
	top: 0px;
	z-index: 1;
	-webkit-animation: move 3s linear 3s infinite;
	animation: move 3s linear 3s infinite;
}

.arrow-triangle {
	position: relative;
	border: 10px solid transparent;
	border-bottom: 10px solid white;
	width: 0;
	height: 0;
	left: 15px;
	top: 0px;
	z-index: 2;
	-webkit-animation: move 3s linear 3s infinite;
	animation: move 3s linear 3s infinite;
}

.arrow-triangle:after {
	content: '';
	position: absolute;
	border: 20px solid transparent;
	border-bottom: 20px solid  #e31b6d;
	width: 0;
	height: 0;
	top: -15px;
	left: -20px;
}

.active {
	transform: translate(0px, 0px);
	opacity: 1;
	scale: 1;
}

.footer{
  display: flex;
  flex-direction: column;
  background-color: #e8e3ee;
  
}
.lng-watermark {
  font-size: 15px;
  /* font-weight: 400; */
  text-align: center;
  
  color: #434242;
  /* margin-bottom: 20px; */
  
}
@media all and (max-width:1400px){
  style{
    width: 100%;
    height: 800px;
  }

}
 @media all and (max-width:800px){
  .about{
    width: 80%;
   
  }
  
  .image-camera{
    width: 60%;
    margin: 10px;
    margin-left: 70px;
  }
  #canvas {
    width: 300px;
    height: 1050px;
}
.lng-contPar{
  font-size: 10px;
}
font-style {
  width: 100%;
  height: 1100px;
}

 }


@media all and (max-width:390px){
  element{
    width: 390px;
    height: 800px;
  }

}
